
.home{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer{
    display: flex;
   padding: 50px 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 39, 37);
    color: white;
    font-size: 16px;
}

 